<%- include("header") -%>
<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
<div class="bg-white border mt-2">
    <div>
        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
            <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="homeimg2.jfif" width="45" style = "border-radius: 10px;">
                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">Recruitment Portal</span><span class="text-black-50 time">Bytes Technolab Inc.
                    •
                    Follow
                    •
                    Hire Me</span></div>
            </div>
            <div class="feed-icon px-1"><i class="fa fa-ellipsis-v text-black-50"></i></div>
            <a href =""><button class="btn btn-outline-success" type="submit">Save</button></a>
      <form class="d-flex" role="search">
        <button type="button" class="btn btn-danger">Like</button>
      </form>
        </div>
    </div>
    <div class="feed-image p-2 px-3"><img class="img-fluid img-responsive" src="homeimg.png"></div>
    <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
</div>
</div>
<p><h3>  A Recruitment Portal</h3></p>
</div>
</div>
</div>

<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center" style="padding-top: 50px; padding-bottom: 50px;">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h2>More by Bytes Techno-Lab</h2>
                            </div>
                    </div>
            </div>
            <div class="row" style="padding-top: 50px; padding-bottom: 50px;">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                    <div class="part-1">
                                            <img src="more1.png" alt="">
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-body" style="font-size: 20px;">eCommerce</h3>
                                            
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-2" class="single-product">
                                    <div class="part-1">
                                        <img src="more2.png" alt="">
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-body" style="font-size: 20px;">Mobile Login</h3>
                                            
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-3" class="single-product">
                                    <div class="part-1">
                                        <img src="more3.png" alt="">
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-body" style="font-size: 20px;">Round Class Stream</h3>
                                            
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-4" class="single-product">
                                    <div class="part-1">
                                        <img src="more4.png" alt="">
                                            
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-body" style="font-size: 20px;">NFT Market Price</h3>
                                            
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
            </div>
    </div>
</section>

<%- include("footer") -%>